- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hello, #{user.name}!
br
br
| Our team has just received the project  #{link_to project.name, project_link, target: '__blank'}
br/
br/
| During the next 4 days, we will analyze the draft project you sent us and we'll give you an answer.
br
br
strong You can get 3 types of response: 
br/
br/
strong Option 1: 
| Your draft passed in the analysis, was accepted and will be aired! 
br/
| Now just arrange the day and time to debut your design on the site SilverAlms
br/
br/
strong Option 2: 
| It seems to us that your project has a lot do with the #{company_name}, but still needs some tweaking to go to the air. Let us contact you to understand possibilities, suggest things and take some questions. 
br/
br/
strong Option 3: 
| Unfortunately, the draft project you sent does not fit the profile of the site #{company_name}. 
| Send an email notifying the refusal. Yes, we know that refusals are always unpleasant. But the theme here is
| "lifts, shakes the dust and gives a comeback." But before shaking any dust,
| Please Study #{link_to 'support center', ::Configuration[:support_forum], target: '__blank'} so that you know everything about our prerequisites for the construction of your next project
br/
| Remember that you can ask questions to us directly responding to this message or e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
|A Hug,
br/
= company_name
