- project = @notification.project
| Hey!
br
br
| Another project was created in #{Configuration[:company_name]}!
== " by #{link_to project.user.name, user_url(project.user)}"
br
== "Email the director: #{mail_to project.user.email}"
br
br
| Project details below:
br
br
b Name:
= " #{project.name}"
br
b Meta:
= " #{project.display_goal}"
br
b List of related links:
br
= simple_format(project.more_links)
br
b Supporters first:
br
= simple_format(project.first_contributions)
br
b How did the #{Configuration[:company_name].downcase}:
br
= simple_format(project.how_know)
br
br
= link_to 'See more about the project', project_by_slug_url(permalink: project.permalink)

